# install virtualenv - pip install virtualenv
# virtualenv env - pentru un env nou

# path\env\scripts\activate - activeaza env
# pip list - verifica lista packages


# pip install -r requirements.txt
# pentru instalare packages proiect

###
###
###

django
requests
pillow
six
openai