{% extends "main.html" %}

{% block content %}
<style>
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card.project {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 350px; 
    height: 500px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    overflow: hidden; 
    position: relative; /* Add this */
  }

  .project__thumbnail {
    width: 100%; 
    height: auto; 
    border-bottom: 1px solid #ccc; 
  }

  .card__body {
    padding: 10px; 
    overflow: hidden; 
  }

  .project__title {
    margin-bottom: 5px; 
  }

  .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: none; /* Hidden by default */
  }

  .card.project:hover .delete-button {
    display: block; /* Show on hover */
  }
</style>

<section class="projectsList">
  <div class="container">
    <div class="grid grid--three">

      {% for movie in allmovies %}
      <div class="column">
        <div class="card project">
          <a href="{% url 'movie' movie.id %}" class="project">
            <img class="project__thumbnail" src="{{tmdb_image_path}}{{movie.poster_path}}" alt="project thumbnail" />
            <div class="card__body">
              <h3 class="project__title">{{movie.title|slice:35}}</h3>
              <p><a class="project__author">{{ movie.description|truncatechars:125 }}</a></p>
            </div>
          </a>
            <form method="post" action="{% url 'delete_from_watchlist' movie.id %}">
              {% csrf_token %}
              <button class="delete-button" type="submit" name="action" value="Delete">Delete</button>
            </form>
        </div>
      </div>      
      {% endfor %}  

    </div>
  </div>
</section>

{% include 'pagination.html' with queryset=allmovies custom_range=custom_range%}

{% endblock content %}
