{% extends 'main.html' %}
{% block content %}

<style>
    #chatbot{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-top: 50px;
        border-radius: 10px;
        border: 1px solid gray;
        padding: 10px;
    }

    .botText{
        font-family: monospace;
        font-size: 14px;
        text-align: left;
        line-height: 25px;
        color: grey;
    }
    #userInput{
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 70%;
        text-align: center;
    }

    #textInput{
        border: 3px solid white;
        border-bottom: 3px solid grey;
        font-family: monospace;
        font-size: 14px;
        width: 60%;
        padding: 16px;
        color: rgb(95, 41, 95);
    }

    .userText{
        font-family: monospace;
        font-size: 14px;
        line-height: 25px;
        text-align: right;
        color: rgb(95, 41, 95);
    }
</style>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<h1>Chatbot App</h1>

<div>
    <div id="chatbot">
        <!-- Initial message -->
        <p class="botText"><span>Hello {{ username }}. You can chat with me about movies!</span></p>
    </div>

    <div id="userInput">
        <input type="text" id="textInput" name="userMessage" placeholder="Type your message..."/>
        <input type="submit" value="Send" id="buttonInput" class="btn btn--sub"/>
    </div>
</div>

<script>
    function getUserResponse(){
        var userText = $('#textInput').val();
        var userHTML = "<p class='userText'>You: <span>" + userText + "</span></p>";
        $('#textInput').val("");
        $('#chatbot').append(userHTML);

        $.get('/getResponse', {userMessage: userText}).done(function(data){
            var returnedMessage = "<p class='botText'>CinefyGROQ: <span>" + data + "</span></p>";
            $('#chatbot').append(returnedMessage);
        });
    }

    $('#buttonInput').click(function(){
        getUserResponse();
    });

    $('#textInput').keydown(function(event) {
        if (event.keyCode === 13) {
            getUserResponse();
        }
    });

    $(document).ready(function(){
        $.get('/getConversationHistory').done(function(data){
            var initialMessage = "Hello from now on I would like to talk to you about movies. My favorite genres are: comedy, horror and action. My favorite movie is Deadpool 2.";
            data.forEach(function(message){
                if (message.role !== 'user' || message.content !== initialMessage) {
                    var messageHTML = message.role === 'user' ? "<p class='userText'>You: <span>" + message.content + "</span></p>" :
                        "<p class='botText'>CinefyGROQ: <span>" + message.content + "</span></p>";
                    $('#chatbot').append(messageHTML);
                }
            });
        });
    });
</script>

{% endblock content %}
